@import "../../sass/mixins/mixins";

// +-------------+
// | CARD GLOBAL |
// +-------------+

.card {
  border: none;
  transition: all .4s ease-in, cubic-bezier(0.4, 0.0, 0.2, 1), background-color .25s ease-in-out, box-shadow 0.5s ease-in-out;

  .card-header, .card-footer {
    background-color: $color-white;
  }
}

// card shadow

.card-s {
  box-shadow: 0 1.7em 5.5em -.94em rgba(black, .3), 0 2em 3em .5em rgba(black, .1), 0 1.8em 2em -1.5em rgba(black, .2);
}

// responsive card deck

@media (max-width: 768px) {
  .card-deck {
    display: block;
    table-layout: fixed;
    width: 100%;
    margin-bottom: .75rem;
    border-spacing: 1.25rem 0;
  }

  .card-deck .card {
    display: block;
    margin-bottom: .75rem;
    vertical-align: top;
  }

  .card-deck .card:not(:first-child) {
    margin-left: 0;
  }
}

// card visio support

.card-visio-support {
  opacity: .6;
  pointer-events: none;
  cursor: none;

  img {
    filter: grayscale(100%);
  }

  .inside {
    background-color: $color-red-dark !important;
    width: 100% !important;
    right: 0 !important;
    top: 0 !important;
    border-radius: 0 !important;
    height: 140px !important;

    .icon {
      opacity: 0 !important;
    }

    .contents {
      opacity: 1;
      transform: scale(1);
      transform: translateY(0);
    }
  }
}

// card disableb

.card-disabled {
  opacity: .6;
  pointer-events: none;
  cursor: none;

  img {
    filter: grayscale(100%);
  }
}

// card valided

.card-chosen {

  .card {
    box-shadow: 5px 20px 30px rgba(0,0,0,0.2);
    border: 1px solid $color-info !important;
    transition: all 1s;
    filter: grayscale(0%) !important;
    opacity: 1 !important;
    transform: scale(1);

    .cta {
      transform: scale(1.04);

      button {
        background: $color-info;
        border-color: $color-info;

        &:after {
          content:'Sélectionné !' !important;
        }
      }
    }
  }

  .inside {
    @extend .bounce-in;
    background: $color-info !important;
  }

  i {
    &:before{
      font-family: FontAwesome;
      color: $color-white;
      content: "\f00c";
    }
  }
}

// card warning

.card {
  &.card-warning {
    @extend .pulse-inf;
    border: 1px solid $color-danger !important;
    box-shadow: inset 0 0 0 rgba(251,81,81,0.4), 0 0 .7em rgba(251,81,81,.6) !important;
  }
}

// card hover

.hover-card {
  &:hover {
    .card {
      filter: grayscale(0%) !important;
      opacity: 1 !important;
      transform: scale(1);
      transition: box-shadow 0.5s, transform 0.5s;
      border: 1px solid $color-primary;

      .header-img img {
        transform: scale(1.3);
        transition: all 1.5s linear;
      }

      .cta {
        transform: scale(1.04);
      }
    }
  }
}

// +--------------+
// | CARD SERVICE |
// +--------------+

.card-service {
  //@include media-breakpoint-up(md) { img { width: 130% !important;} }
  //@include media-breakpoint-up(lg) { img { width: 120% !important;} }
  //@media (min-width: 1600px) { .card { max-width: 20em} }

  .card {
    filter: grayscale(5%);
    opacity: .8;
    background: $color-secondary;
    color: $color-white;
    border-radius: 10px;
    border: 1px solid $color-secondary;
    line-height: 1;
    transform: scale(0.95);
    transition: all 1s;
    overflow: hidden;

    .img-gradient:after {
      content:'';
      position:absolute;
      left:0; top:0;
      width:100%; height:140px;
      display:inline-block;
      background: linear-gradient(to bottom, rgba(200,242,240,0.1) 0%,rgba(0, 191, 182, 0.3) 100%);
    }
    .img-gradient img{
      display:block;
    }

    .header-img {
      @include size(100%, 140px);
      background-image: $color-primary;
      transition: transform .4s;
      border-radius: 10px 10px 0 0;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .card-title {
      font-weight: 600;
      text-transform: uppercase;
      hyphens: auto;
      font-size: 19px !important;
      line-height: 26px;
      letter-spacing: 1px;
    }

    .cta {
      transition: 0.4s ease-in-out;

      &:hover {
        transform: scale(1.06);
      }

      .btn {
        font-size: 16px;
      }

      button {
        &:after {
          content:'Sélectionner';
        }
      }
    }

    .price {
      font-weight: 600;
      font-size: 40px !important;

      small {
        font-size: 20px;
      }
    }

    .text-muted {
      color: $color-primary !important;
    }
  }

  .inside {
    z-index:9;
    background: $color-primary;
    width:140px;
    height:140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0 0 200px 200px;
    transition: all 0.5s, border-radius .2s, top .4s;

    .icon {
      position:absolute;
      right:80px;
      top:80px;
      color:white;
      opacity: 1;

      i {
        font-size: 35px;
      }
    }

    .contents {
      //padding: 5%;
      //opacity: 0;
      //transform: scale(0.5);
      //transform: translateY(-200%);
      //transition: opacity 0.2s, transform 0.8s;
    }
  }

}

// +--------------+
// | CARD SIGN IN |
// +--------------+

.signin-card {
  opacity: 0.90;
  border-radius: .4em;
  overflow: hidden;
}

// +--------------+
// | CARD BG ZOOM |
// +--------------+

.card-z {

  .card {
    overflow: hidden;
    &:hover {
      @include box_shadow(3);

      button {
        animation: rubberBand 1s infinite;
        @include box_shadow(3);
      }
    }
  }

  .card-img-zoom {
    position: relative;
    overflow: hidden;
  }
  .card-img-zoom:after {
    position: absolute;
    content: '';
    top: 0; left: 0; right: 0; bottom: 0;
  }
  .card-img-zoom img {
    width: 100%;
    transition: transform .4s;
    filter: contrast(80%);
  }
  .card:hover img {
    transform: scale(1.2);
    filter: contrast(100%);
  }
}

// +---------------+
// | CARD QUESTION |
// +---------------+

.card-question {
  border-radius: 10px;
  overflow: hidden;

  .card-header {
    @include size(100%, 120px);
    overflow: hidden;
  }

  .card-img {
    position: absolute;
    top: -40px;
    right: 0;
    z-index: 10;
    filter: grayscale(5%);
    opacity: .8;
  }

  .date-question {
    font-size: 10px;
    color: $color-text-grey;
  }

  .badge {
    font-size: 9px
  }

  .nav-tabs {
    padding: 0 .4rem;
    font-size: 10px;

    .nav-link {
      padding: 0.5rem .7rem;
    }
  }

  .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: $color-secondary;
  }

  .offre-info {
    @include size(45px);
    font-size: 34px;
    color: white;
    z-index: 100;
    position: absolute;
    opacity: .8;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
  }

  .spe-info {
    font-size: 11px;
    color: white;
    z-index: 100;
    position: absolute;
    bottom: 0;
  }

  .dropdown-menu {
    overflow: hidden;
  }

  .dropdown-item {
    font-size: 14px;
    &:hover {
      background-color: $color-primary;
    }
  }

  .info-corner {
    z-index: 100;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0 0 200px 200px;
    transition: all 0.5s, border-radius .2s, top .4s;

    i {
      position: absolute;
      right: 80px;
      top: 80px;
      color: white;
      opacity: 1;
      font-size: 35px;
    }
  }

  @include media-breakpoint-down(sm) { .card-img { top: -150px !important;} }
  @include media-breakpoint-down(xs) { .card-img { top: -60px !important;} }
}


// +---------------+
// | CARD DOCUMENT |
// +---------------+

.card-document {
  border-radius: 10px;

  .nav-tabs {
    padding: 0 .3rem;
    font-size: 9px;

    .nav-link {
      padding: 0.5rem .5rem;
      transition: all 0.2s;
    }

    //.nav-link {
    //  border: none;
    //  &:hover {
    //    background-color: $color-primary;
    //    color: $color-white;
    //  }
    //}
  }

  //.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  //  background-color: $color-primary;
  //  color: $color-secondary;
  //}

  .info-corner {
    z-index: 9;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0 0 200px 200px;
    transition: all 0.5s, border-radius .2s, top .4s;

    .icon {
      position: absolute;
      right: 80px;
      top: 80px;
      color: white;
      opacity: 1;

      i {
        font-size: 35px;
      }
    }
  }
}

// +--------------+
// | CARD FACTURE |
// +--------------+

.card-invoice {
  .card {
    transform: scale(1);
    transition: box-shadow 0.5s, transform 0.5s;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-style: solid;
      border-width: 0 20px 20px 0;
      border-color: #eee $color-white;
      transition: all ease .8s;
    }

    &:hover:before {
      border-width: 0 40px 40px 0;
      border-color: #ddd $color-white;
    }

    .price {
      font-size: 35px;
      font-weight: 600;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 5px 15px 25px rgba(0,0,0,0.2);
      z-index: 100;

      .btn {
        animation: pulse 1s infinite;
        @include box_shadow(3);
      }

      .pin {
        animation: hinge 0.8s ease-in-out;
        animation-fill-mode: forwards;

        &:before {
          display: none;
        }

        &:after {
          background-image: inherit;
          box-shadow: none;
        }
      }
    }
  }

  // facture pin

  .pin {
    background-color: #aaa;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
    display: block;
    height: 2em;
    left: 50%;
    margin: -1em -.05em;
    position: absolute;
    width: .1em;

    &:after {
      @include size(.8em);
      background-color: $color-yellow-normal;
      background-image: radial-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
      border-radius: 50%;
      box-shadow: inset 0 0 0 1px rgba(0,0%,0%,.1),
      inset .2em .2em .2em rgba(0,0%,100%,.2),
      inset -.2em -.2em .2em rgba(0,0%,0%,.2),
      1.5em 1.25em .25em rgba(0,0%,0%,.15);
      content: '';
      left: -.35em;
      position: absolute;
      top: -.65em;
    }

    &:before {
      background-color: rgba(0,0%,0%,.1);
      box-shadow: 0 0 .25em rgba(0,0%,0%,.1);
      content: '';
      height: 1.5em;
      left: 0;
      position: absolute;
      top: .5em;
      transform: rotate(57.5deg);
      transform-origin: 50% 100%;
      width: .1em;
    }
  }
}

// +-------------+
// | CARD CREDIT |
// +-------------+

.card-credit {
  .card {
    @include border-radius(12px);
    background: linear-gradient(25deg, $color-secondary, #045289);
    color: $color-white;
    border: none;
    transform: scale(1);
    transition: box-shadow 0.5s, transform 0.5s;

    &:hover{
      transform: scale(1.05);
      box-shadow: 5px 15px 25px rgba(0,0,0,0.2);

      .btn {
        animation: pulse 1s infinite;
        @include box_shadow(3);
      }
    }

    .card-body {
      .text-muted, .card-title {
        color: $color-grey-light !important;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.42);
      }

      .card-title {
        font-size: 22px;
      }

      .card-text {
        font-size: 18px;
        color: transparent;
        text-shadow: -1px -1px 0px rgba(255,255,255,1), 1px 1px 1px rgba(0,0,0,0.9), 2px -2px 8px rgba(255,255,255,1),
        -2px -2px 2px rgba(0,0,0,0.9), -2px 2px 1px rgba(0,0,0,0.9); -webkit-text-stroke:2px rgba(0,0,0,0.4);
      }
    }

    .card-chip {
      @include size(50px, null);
    }
  }
}

// +------------+
// | CARD PROMO |
// +------------+

.card-promo {
  .card {
    height: 169px;
    background-color: $color-secondary;
    border-radius: 9px;
    position: relative;
    z-index: 1;
    transform: scale(1);
    transition: box-shadow 0.5s, transform 0.5s;

    &:hover{
      transform: scale(1.05);
      box-shadow: 5px 15px 25px rgba(0,0,0,0.2);

      .btn {
        animation: pulse 1s infinite;
        @include box_shadow(3);
      }
    }
  }

  .card:before {
    content: '';
    display: block;
    height: 120px;
    width: 120px;
    position: absolute;
    left: -55px;
    top: 24px;
    border-radius: 9px;
    transform: rotate(45.1deg);
    background: $color-secondary;
    z-index: -1;
  }
  .card:after {
    content: '';
    display: block;
    background: white;
    height: 25px;
    width: 25px;
    position: absolute;
    left: -45px;
    top: 70px;
    border-radius: 100%;
  }

  @include media-breakpoint-down(xs) { .card:before {  display: none !important;} }
  @include media-breakpoint-down(sm) { .card:before {  display: none !important;} }
}

// +-------------------+
// | CARD TICKET PROMO |
// +-------------------+

.card-ticket {

  .card {
    height: 9em;
    background-color: transparent;
    border: none;

    .card-header {
      background-color: transparent;
      color: white;
      border: none;

      .text-muted {
        color: $color-white !important;
      }
    }
  }

  .ticket-rd {
    @include size(0.9em);
    @include border-radius(50%);
    content: "";
    background: $color-white;
    position: absolute;
    display: block;
  }

  .c-left, .c-right {
    background: linear-gradient(to bottom, $color-blue-light 0%, $color-blue-light 33%, $color-grey-light 33%, $color-grey-light 100%);
    float: left;
    position: relative;

    .price {
      color: $color-blue-light;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.42);

      p {
        font-size: 2.5em;
        margin: 0;
        font-weight: 600;
      }

      span {
        font-size: .7em;
        font-weight: 100;
      }
    }
  }

  .c-left {
    width: 165px;
    @include border-left-radius(8px);
    border-right: 1px dashed $color-white;
    box-shadow: -3px 2px 5px rgba(0,0,0,.4);
    z-index: 100;

    .card {

      .card-body {
        padding: .75rem;
      }
    }

    &:before,
    &:after {
      @extend .ticket-rd;
      right: -.5em;
    }
    &:before {
      top: -.4em;
    }
  }

  .c-right {
    @include  border-right-radius(8px);
    border-left: 1px dashed $color-white;
    transition: all 0.5s ease;
    transform: scale(1);
    box-shadow: -3px 2px 5px rgba(0,0,0,.4);

    &:hover {
      transform: scale(1.05);
      box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.2);

      .btn {
        animation: pulse 1s infinite;
        @include box_shadow(3);
      }
    }

    .card {

      .card-body {
        padding: 1.07rem;
      }
    }

    &:before,
    &:after {
      @extend .ticket-rd;
      left: -.5em;
    }
    &:before {
      top: -.4em;
    }
    &:hover {
      @include  box-shadow(10px 10px 20px -8px rgba(0,0,0,0.19));
      background: linear-gradient(to bottom, $color-secondary 0%, $color-secondary 33%, $color-grey-dark 33%, $color-grey-dark 100%);
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

// +-----------+
// | CARD MENU |
// +-----------+

.card-menu {
  .card {
    background-image: linear-gradient(-120deg, $color-grey-lighter 0, $color-white 100%);
    color: $color-blue-normal;
    overflow: hidden;
    animation: zoomIn .8s forwards;

    &:hover {
      @include box_shadow(3);
      cursor: pointer;
    }

    i {
      color: $color-blue-light;
      font-size: 70px;
    }

    .card-title {
      color: $color-blue-normal;
    }

    .card-text {
      color: $color-text-grey;
    }

    a {
      text-decoration: none;
    }
  }
}
