// +----------+
// | CHAT BOT |
// +----------+

/* radio switch */

.btn-switch {
  .switch {
    @include size(240px, 40px);
    text-align: center;
    transition: all 0.2s ease;
    border-radius: 40px;
    border: 1px solid $color-grey-lighter;
    box-sizing: content-box;
    background-color: $color-white;
  }
  input[type=radio] {
    display: none;
  }
  .switch label {
    font-size: 14px;
    cursor: pointer;
    color: $color-text-grey;
    width: 120px;
    line-height: 40px;
    transition: all 800ms;
  }
  label:first-of-type {
    border-radius: 40px;
    border-right: none;
  }
  label:last-of-type {
    border-radius: 40px;
  }
  label.yes {
    left: 0;

    &:hover {
      color: $color-success;
    }
  }
  label.no {
    right: 0;

    &:hover {
      color: $color-danger;
    }
  }
  .yes:checked ~ .switch label.yes {
    background: $color-success;
    color: $color-white;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
  }
  .no:checked ~ .switch label.no {
    background: $color-danger;
    color: $color-white;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
  }
}

.btn-switch-1 {
  @extend .btn-switch;
  .yes:checked ~ .switch label.yes {
    background: $color-success;
    color: $color-white;
    box-shadow: none;
  }
  .no:checked ~ .switch label.no {
    background: $color-success;
    color: $color-white;
    box-shadow: none;
  }

  .switch label {
    width: 85px;
  }
}

// +------------+
// | CHATBOT V2 |
// +------------+

.form-full-screen {

  .fs-field-label {
    font-size: 30px;
    display: inline-block;
    padding: 0 5px 1em 0;
    font-weight: 500;
    letter-spacing: .14rem;
    pointer-events: none;
  }

  .invalid-feedback, .valid-feedback {
    font-weight: 700;
    font-size: .9em;
  }

  /* Continue button and submit button */
  .fs-button {
    &:focus { outline: none; }
    padding: 0.6em 1.5em;
    border: 3px solid $color-secondary;
    border-radius: 40px;
    font-weight: 700;
    color: $color-secondary;
    transition: all 0.3s ease-out;
    overflow: hidden;
  }

  .fs-button {
    font-size: 1em;

    &:hover {
      background: $color-secondary;
      color: #fff;
    }

    &:disabled {
      filter: grayscale(100%);

      &:hover {
        background: $color-white !important;
        color: $color-secondary;
      }
    }
  }

  .fs-back {
    @extend .fs-button;
    background: $color-white;

    &:hover {
      i {
        @extend .bounceInUp;
        @extend .f-i;
      }
    }
  }

  .fs-finish {
    @extend .fs-button;
    border: 3px solid $color-danger;
    color: $color-danger;

    &:after {
      color: $color-danger;
      background: transparent;
    }

    button:hover,
    button:focus,
    &:hover {
      background: $color-danger !important;
      color: $color-white;
    }

    &:disabled {
      &:hover {
        color: $color-danger;
      }
    }
  }

  .fs-valided {
    @extend .fs-button;
    border: 3px solid $color-success;
    color: $color-success;

    &:after {
      color: $color-success;
      background: transparent;
    }

    button:hover,
    button:focus,
    &:hover {
      background: $color-success !important;
      color: $color-white;
    }

    &:disabled {
      &:hover {
        color: $color-success;
      }
    }
  }

  /* Inputs */
  .fs-fields .field-input input {
    display: block;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    background-color: transparent;
    color: $color-secondary;
    text-overflow: ellipsis;
    font-size: 1.2em;
    transition: all 0.3s ease-out;
  }

  .fs-fields .field-input input:focus {
    background-color: $color-secondary;
    color: $color-white;
    border-bottom: 2px solid $color-primary;
    box-shadow: none;
  }

  .fs-fields textarea {
    width: 100%;
    height: 200px;
    padding: 18px;
    border: 2px solid rgba(0,0,0,0.2);
    color: $color-secondary;
    font-size: 1em;
    resize: none;
    transition: all 0.3s ease-out;
  }

  .fs-fields textarea:focus {
    outline: none;
    background-color: $color-blue-normal;
    color: $color-white;
    border-width: 4px;
    box-shadow: none;

    &::placeholder {
      color: $color-white;
    }
  }

  nouislider {
    margin-top: .5rem;
    margin-bottom: .5rem;


    .noUi-tooltip {
      left: 15px;
      bottom: 38px;
    }
  }

  @include media-breakpoint-down(sm) {

    .fs-field-label {
      font-size: 20px;
    }
  }
}

/* Show new li when navigating to next question */
.fs-display-next {
  animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
  animation-delay: 0.25s;

  .fs-anim-upper {
    animation: animShowNext 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
    animation-delay: .5s;
  }
}

@keyframes animShowNext {
  from { opacity: 0; -webkit-transform: translate3d(0,500px,0); transform: translate3d(0,500px,0); }
}

/* Show new li when navigating to previous question */
.fs-display-prev {
  animation: animShowPrev 0.5s cubic-bezier(0.7,0,0.3,1) both 0.15s;
  animation-delay: 0.5s;
}

@keyframes animShowPrev {
  from { opacity: 0; -webkit-transform: translate3d(0,-500px,0); transform: translate3d(0,-500px,0); }
}

/* bubble mascotte */

.bubble {
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
  border-radius: 15px;
  padding: 10px 15px;

  &:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

.bubble-doctor {
  background: #00b1b5;
  float: left;
  color: #fff;

  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 13px;
    left: -25px;
    border-left: 10px solid transparent;
    border-right: 20px solid #00b1b5;
  }
}

@include media-breakpoint-down(sm) {
  .bubble {
    max-width: 70%;
  }
}

/* background waves */

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #00bfb6;
}

#wave2 {
  animation-duration: 4s;
  animation-direction: reverse;
  opacity: .1;
}

#wave3 {
  animation-duration: 6s;
  animation-direction: reverse;
  opacity: .2;
}

#wave4 {
  animation-duration: 8s;
  opacity: .4;
}


@keyframes wave {
  to {transform: translateX(-100%);}
}




