.header {
  height: 66px;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  left: 0;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}
