// +---------------+
// | MENU CUSTOMER |
// +---------------+

.navbar {
  padding: 0 1rem;
  transition: all 0.3s;

  .navbar-collapse {
    line-height: 50px;
    min-height: 60px;
  }

  .dropdown-item {
    font-size: 0.8rem;
  }

  li {

    a {
      font-family: $font-title;
      font-weight: 500;
    }

    .nav-link {
      color: theme-color("secondary") !important;
      padding-left: .6rem !important;
      padding-right: .6rem !important;
      transition: all .3s ease-in-out;
      font-size: 11px;
      cursor: pointer;

      &:hover {
        color: theme-color("primary") !important;

        i {
          color: theme-color("primary");
        }
      }

      i {
        font-size: 25px;
      }
    }
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active-nav-item {
  background-image: linear-gradient($color-white 0%, $color-grey-lighter 100%);
}

// +----------------+
// | ANIM HAMBURGER |
// +----------------+

.top-bar, .bottom-bar, .middle-bar {
  width:35px;
  height: 3px;
  display: block;
  transition: all 0.4s;
  border-radius: 3px;
  margin-top: 6px;
  &:nth-child(1) {
    margin-top: 3px;
  }
}

.navbar-toggler.collapsed {
  transition: all .6s;
  background-color: $color-white;
  box-shadow: none;

  .top-bar, .bottom-bar, .middle-bar {
    background-color: theme-color("secondary");
  }

  &:hover {
    .top-bar, .bottom-bar {
      background-color: theme-color("primary");
    }
    .top-bar {
      top: 3px;
    }
    .bottom-bar {
      bottom: 3px;
    }
  }
}

.navbar-toggler {
  width: 50px;
  height: 50px;
  border: none;

  .top-bar, .bottom-bar, .middle-bar {
    background-color: theme-color("secondary");
    @include box_shadow(2);
  }
}

.navbar-toggler .top-bar {
  transform: rotate(40deg);
  transform-origin: 20% 100%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-40deg);
  transform-origin: 10% -80%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
