.burger-btn {
  align-items: center;
  background: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 6px 6px 0 0;

  &:hover,
  &:focus {
    .burger-btn__icon-line:before {
      transform: scaleX(0.843);
    }

    .burger-btn__icon-line:after {
      transform: scaleX(1);
    }
  }

  &.active .burger-btn__icon-line {
    background-color: transparent;
    transform: translateX(2px);

    &:before,
    &:after {
      transform-origin: 50% 50%;
      top: 0;
    }

    &:before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    &:after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &__icon-container {
    height: 24px;
    margin-top: -3px;
    position: relative;
    width: 32px;
  }

  &__icon-line {
    background: #000;
    display: inline-block;
    height: 2px;
    left: 50%;
    margin: -1px 0 0 -16px;
    position: absolute;
    top: 50%;
    transition: 0.3s;
    width: 32px;

    &:after,
    &:before {
      background: #000;
      content: "";
      display: inline-block;
      height: 100%;
      left: 0;
      position: absolute;
      transform: scaleX(0.6875);
      transform-origin: 0 center;
      transition: 0.3s;
      width: 100%;
      will-change: transform;
    }

    &:before {
      top: 7px;
    }
    &:after {
      top: -7px;
    }
  }
}
