// +-------------------+
// | CUSTOM NOUISLIDER |
// +-------------------+

.noUi-horizontal .noUi-handle {
  @include size(34px);
  @include border-radius(50%);
  top: -12px;
  background: theme-color("primary");
  box-shadow: none;
  border-color: $color-secondary;
  &:after, &:before {
    background: none;
  }

  &:after, &:before {
    top: 8px;
  }
}

.noUi-horizontal .noUi-tooltip {
  @extend .shadow;
  transform: translate(-50%,0);
  left: -75%;
  bottom: -2px;
}

.noUi-tooltip {
  border: 1px solid $color-secondary;
  color: theme-color("secondary");
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
}

.noUi-horizontal {
  height: 12px;
}

.noUi-target {
  background: $color-white;
  border-color: $color-text-grey;
}

.noUi-horizontal .noUi-handle {
  &:focus {
    outline: none;
  }
}



