// +------------+
// | CHAT VISIO |
// +------------+

/* layout visio chat */

.app-layout {
  display: grid;
  overflow: hidden;
  grid-template-columns: 100%;
  height: 100% !important;
  grid-template-rows: auto auto;

  .content-video {
    position: absolute;
    top: 0;

    video {
      width: 160px;
    }
  }

  .content-video-1 {
    height: calc(100vh - 136px);
    position: relative;
    overflow: hidden;

    video {
      min-width: 100%;
      min-height: 100%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .nav-tabs {
    font-size: $small-font-size;
    padding: 10px 10px 0 10px;
  }
}

.form-chat {
  ::placeholder {
    font-size: 12px;
  }
}

.g-50 {
  grid-template-columns: 45% 55%;
}

@include media-breakpoint-down(md) {
  .app-layout {
    grid-template-columns: 100%;
    height: 100% !important;
  }
}

.app-layout-full {
  grid-template-columns: 100% !important;
}

/* bulles messages */

.messages-content {
  .msg {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    .text {
      font-size: 14px;
      padding: 1em;
      border-radius: 10px;
      position:relative;
      line-height: 18px;
    }
  }

  .user {
    display:flex;
    flex-direction: row;
    width: 80%;

    &.left { margin-right: auto;
      animation: fade-in-100-left 0.6s 0s ease-in-out both;
      .text {
        background-color: $color-info;
        color: $color-white;
      }
    }

    &.right { margin-left: auto;
      flex-direction:  row-reverse;
      animation: fade-in-100-right 0.6s 0s ease-in-out both;
      .text {
        background-color: $color-grey-lighter;
        color: $color-secondary;
      }
    }

    .avatarbox .avatar_overlay {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 10px;
      line-height: 40px;
      text-align: center;
    }

    .avatarbox {
      display: block;
      margin-top: 15px;
      padding: 0 20px;
    }
  }
}

.avatarbox {
  position: relative;

  .avatar_overlay {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 10px;

    img{
      width: 100%;
      min-height: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .avatarbox {
    padding: 0 0 !important;
  }
}

/* anim message */

@keyframes fade-in-100-left {
  0%   { transform: translateX(-100%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}
@keyframes fade-in-100-right {
  0%   { transform: translateX(100%); opacity: 0; }
  100% { transform: translateX(0%); opacity: 1; }
}

/* close visio chat */

.close-btn {
  transform: rotate(-225deg);
}

/* background audio poster */

.audio-poster {
  background-color: $color-text-grey;
  background-size: 400px !important;
  opacity: 1 !important;
  background-position: center !important;
  background-image: url(/assets/images/elements/ripples.svg);
  background-repeat: no-repeat;
}

/* input upload image */

.input-upload {
  position: relative;
  overflow: hidden;

  input {
    position: absolute;
    height: 35px;
    opacity: 0;
    right: 0;
    top: 0;
  }
}

/* question unique */

.messages-content-question {
  @extend .messages-content;

  .question-unique {
    @extend .user;
    width: 100%;

    &.left {
      animation: inherit;
      .text {
        width: 100%;
        border-radius: inherit;
        background-color: transparent;
        overflow: auto;
        color: $color-secondary;
      }
    }

    .avatarbox {
      display: block;
      margin-top: 35px;
    }

    .text-grey {
      @extend .text-grey;
      font-size: 10px;
    }
  }
}

.status-question {
  display: flex;
  flex-direction: row;

  .text {
    width: 100%;
    font-size: 14px;
    padding: 1em;
    position:relative;
    line-height: 18px;
  }

  .icon-status {
    margin-right: 10px;
  }
}

// +-----------------------+
// | DOTS TYPING INDICATOR |
// +-----------------------+

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.75);
    opacity: 0.6;
  }
  50% {
    -webkit-transform: scale(0.75);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.9;
  }
}

.wrap .dot {
  @include size(7px);
  background: $color-secondary;
  display: inline-block;
  border-radius: 5px;
  animation: pulsate 500ms infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.wrap .dot:nth-child(2) {
  animation-delay: 150ms;
}
.wrap .dot:nth-child(3) {
  animation-delay: 300ms;
}

// +---------------------+
// | SCROLL CONTENT CHAT |
// +---------------------+

.content-chat {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content-chat-1 {
  @extend .content-chat;
  max-height: 400px;
}

.c-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.c-scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.c-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-yellow-light;
}


